.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: gray; // color is not the same as modal background
  opacity: 50%;
  position: absolute;
  z-index: 999; // Toast has 1200 in order to be on top of the page
}

.loading-container {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
}

// See: @link{https://www.w3schools.com/howto/howto_css_loader.asp}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
