<app-loading></app-loading>
<app-toast></app-toast>
<header class="d-flex justify-content-between">
  <h1>Federated Storage Infrastructure for IoT Sensor Data</h1>
  <div>
    <button
      class="btn btn-primary mr-2"
      type="button"
      (click)="createSensorData()"
    >
      Create Sensor Data
    </button>
    <button class="btn btn-primary" type="button" (click)="openSettings()">
      Settings
    </button>
  </div>
</header>
<main>
  <div class="left-bar overflow-auto">
    <app-overview></app-overview>
  </div>
  <app-map [map]="map"></app-map>
</main>
<footer class="container-xxl">
  <div class="row">
    <div class="col">
      <app-scaleline [map]="map"></app-scaleline>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      There are currently {{ cacheSize }} entries in the cache.
    </div>
    <div class="col d-flex align-items-center justify-content-end">
      &copy; Lukas Spatschil 2021
    </div>
  </div>
</footer>
